.fas
{
    margin-right:4px !important; /*override*/
}

.pagination .fas
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color: #ffffff;
    background: #3db54b;
}

.card ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
	border-bottom:1px solid #eee; 
}